#heading{
    font-family:Verdana;
    text-align:center;
}

.textStyleHeading{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
}

.textStyle{
    text-align: center;
    font-family: Verdana;
   
}