* {
    margin: 0%;
}

body {
    background-color: #ebf2fa;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.app_left {
    flex: 0.9;
}

.app__dropdown {
    background-color: white;
}

.HeaderName {
    color: #fc3c3c;
    font-size: 2rem;

}

.app_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app_stats {
    display: flex;
    justify-content: space-between;

}

@media(max-width : 990px) {
    .app {
        flex-direction: column;
    }
}